/*
 Theme Name: Simppple-child
 Theme URI: https://github.com/LaTableRouge/Simppple-child/
 Author: LaTableRouge
 Author URI: https://portfolio.mlnop.fr/
 Description: A Simppple child theme.
 Template: simppple
 Version: 1.1.2
*/
