@charset "UTF-8";

// 1. Configuration and helpers
@use 'abstracts/functions';
@use 'abstracts/variables';
@use 'abstracts/mixins';
@use 'abstracts/responsive';

// 2. Vendors

// 3. Base stuff

// 4. Components

.editor-styles-wrapper {
	@include meta.load-css('../../blocks/core/**/scss/_block.scss');
	@include meta.load-css('../../blocks/core/**/scss/_editor.scss');
	@include meta.load-css('../../patterns/**/scss/_pattern.scss');
	@include meta.load-css('../../patterns/**/scss/_editor.scss');
}
