@charset "UTF-8";

// 1. Configuration and helpers
@use 'abstracts/functions';
@use 'abstracts/variables';
@use 'abstracts/mixins';
@use 'abstracts/animations';
@use 'abstracts/keyframes';
@use 'abstracts/responsive';

// 2. Vendors

// 3. Base stuff

// 4. Components

@use '../../blocks/**/scss/_block.scss';
@use '../../patterns/**/scss/_pattern.scss';
@use '../../parts/**/scss/_part.scss';
@use '../../templates/**/scss/_template.scss';
